.index-search{
	width: 80%;
	height: 30px;
	margin:0 auto;
	margin-top: 10px;
	display: block;
}
.search-submit{	
	margin:0 auto;
	margin-top: 10px;
	display: block;
	wdth:100px;
	color: #fff;
	letter-spacing: 2px;
	background-color: dodgerblue;
}
/*
 */
.result-top{
	text-align: center;
}
.result-wrap{
	width: 90%;
	margin:0 auto;
	
}
.result-item{
margin-bottom: 10px;	
}
